@{
	ViewData["Title"] = "Vender Produtos";
}
@model List<ItemVendaModel>
@if (TempData["MensagemSucesso"] != null)
{
	<div class="alert alert-success" role="alert">
		@TempData["MensagemSucesso"]
	</div>
}

@if (TempData["MensagemErro"] != null)
{
	<div class="alert alert-danger" role="alert">
		@TempData["MensagemErro"]
	</div>
}
<div class="text-center">
	<h1 class="display-4">Vender Produtos</h1>

	
	<div>

		
		<form asp-action="AdicionarItens" asp-controller="Vender" method="get">
			<label>Código do produto</label>
			<input type="number" name="produtoId" class="form-control" required />
			<label>Quantidade</label>
			<input type="number" name="quantidade" class="form-control" value="1" min="1" />
			<button type="submit" class="btn btn-primary mt-2">Buscar produto</button>
		</form>
		
			<table class="table">

				<thead>

					<tr>
						<th scope="col">Codigo</th>
						<th scope="col">Nome</th>

						<th scope="col">Estoque</th>
						<th scope="col">Preço</th>
			
						<th scope="col">Quantidade</th>
					
						<th scope="col">Total</th>
						<th scope="col">Remover</th>
					</tr>
				</thead>
				<tbody>


				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Produto.Id</td>
						<td>@item.Produto.Nome</td>
						<td>@item.Produto.Estoque</td>
						<td>@item.ValorUnitario</td>
						<td>@item.Quantidade</td>
						
						<td>@item.TotalItem</td>
						<td>
							<a href="/Vender/RemoverItem?id=@item.ProdutoId" class="btn btn-danger">Remover</a>
						</td>
					</tr>
				}
				</tbody>
				<tbody>
					<td></td>
					<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>total: @Model.Sum(i => i.TotalItem)</td>
			<td></td>
				</tbody>

			</table>
		<a href="/Vender/RegistrarVenda" class="btn btn-success">Finalizar Venda</a>
		
			@section Scripts {
				
			}
		
		
	</div>

</div>