@model List<VendaModel>

<h1 class="historico">Histórico de vendas</h1>
@if(Model != null)
{
    <div class="retanguloVenda">
    <table class="table">
        <thead>
                <tr >
                <th scope="col">Codigo da venda</th>
              

                <th scope="col">Total R$</th>
           
                <th scope="col">Data</th>
                    <th scope="col"></th>
                <th scope="col">Remover</th>
            </tr>
        </thead>
        @foreach (VendaModel venda in Model)
        {
        <tr> 
            <th scope="row">@venda.Id</th>
            <td>@(venda.TotalGeral)</td>
                <td>@venda.Data</td>
            <td>
                    <a type="button" class="btn btn-primary" asp-route-id="@venda.Id" asp-action="VerProdutos" asp-controller="HistoricoVendas">Ver itens da venda</a>
            </td>
          
            <td>
                <div class="btn-group">
                        <a type="button" class="btn btn-danger" asp-route-id="@venda.Id" asp-action="ExcluirConfirma" asp-controller="HistoricoVendas">Remover</a>
                </div>
            </td>
        </tr>
    }
        </table>
    </div>
}
else
{
    <h1>Deu bosta</h1>
}

